/* 16px = 100% = 1em = 1rem */
/* (#px)/(16px) */

body{
  font-family: 'Roboto Condensed',  sans-serif;
  font-size: 1.125rem;
  padding: 0;
  margin: 0;
}

/*Barra de Menu*/

.menuBar{
  background-color: #1b262c;
  width: 100%;
  position: fixed;
}

.bottonSeccion{
  padding: 1.25rem 0.625rem;
  text-align: right;
  color: #c8cbcf;
}

.navIcon{
  display: none;
}

a{
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

a:link, a:visited {
  color: #c8cbcf;;
  text-decoration: none;
  cursor: grab;
}

a:link:active, a:visited:active {
  color: #c8cbcf;
}

 .optionsNav:hover{
   color: #ffffff;
 }

/*Seccion Superior*/

.bodyHead{
  background-color: #1b262c;
  padding: 10px 25px 10px 25px;
}

.headerBodyTopH1{
  font-size: 3.5625rem;
  color: #ffffff;
  font-family: 'Roboto Condensed', cursive;
  margin-bottom: 0.125rem;
}

.headerBodyTop{
  color: #ffffff;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}

h2, .textBodyTop{
  color: #c8cbcf;
}

.profile{
  width: 45%;
  display: inline-block;
}

.profileIMG{
  width: 60%;
  border-radius: 100%;
  display: block;
  margin: auto;
}

/*Estilos Seccion de Informacion*/

h3{
  font-size: 1.8rem;
  text-align: center;
}

p{
  text-align: justify;
  color: #25282b;
  font-size: 1.4rem;
}

.bodyInfo{
  padding: 0.9375rem 1.5625rem 0.9375rem 1.5625rem;
}

hr{
  border-style: dotted;
  border-width: 0.625rem;
  border-color: #0f4c75;
  width: 5%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

/*Seccion Tecnologias*/

.techCards{
  justify-content: center;
  display: flex;
  margin: 2rem;
}

.technologies{
  width: 20%;
  margin: 0.625rem;
  display: inline-block;
  align-content: center;
  align-items: center;
}

.divText{
  text-align: center;
  font-size: 1.5rem;
}

.techIMG{
  margin: auto;
  display: block;
  width: 35%;
}

/*Seccion Servicios*/

.services:hover{
  border-width: 0.125rem;
}

.servicesCards{
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.services{
  width: 35%;
  display: inline-block;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #000000;
  background-color: #edebeb;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

ul{
  margin: 0.25rem;
}

/*Seccion Contact*/

.miniIconText{
  display: inline-block;
}

i{
  margin: 0.5rem;
}

.contactLink{
  color: #25282b;
}

.contactLink:link, .contactLink:visited {
  color: #25282b;;
  text-decoration: none;
  cursor: grab;
}

.contactLink:link:active, .contactLink:visited:active {
  color: #25282b;
}

/*Seccion Footer*/

.lastBody{
  background-color: #1b262c;
  display: inline-block;
  width: 100%;
}

.textBodyBot{
  text-align: center;
  color: #c8cbcf;
}

/*Para Dispositivos Moviles*/

@media only screen and (max-width: 650px){

  /*Ajustando Barra de Navegacion*/

  .navIcon{
    display: inline;
  }

  .navText{
    display: none;
  }
}

@media only screen and (max-width: 768px){

  /*Ajustando Seccion Servicios*/

  .servicesCards{
    display: block;
  }

  .services{
    width: 100%;
    display: block;
    border-width: 0.0625rem;
    border-style: solid;
    border-color: #000000;
    background-color: #edebeb;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin-bottom: 0.8rem;
  }
}

@media only screen and (max-width: 1100px){

/*Ajustando Seccion Pefil*/

  .profile{
    width: 75%;
    display: block;
    margin: auto;
  }
}
